<div class="jumbotron container">
    <h2>Task Editor</h2>
</div>
<div class="container">
    <form name="taskForm">
        <div class="form-group">
            <label for="title">Task title</label>
            <input type="text" class="form-control" id="title" name="title" required
            <% if (existed) {%>
                value="<%=task.title%>"
            <% } %>
            >
        </div>
        <div class="form-group">
                <label for="title">Due date</label>
                <input type="date" class="form-control" id="dueDate" name="dueDate" required
                <% if (existed) {%>
                    value="<%=task.dueDate%>"
                <% } %>
                >
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Completed</legend>
                <div class="col-sm-10">
                    <div class="form-check custom-control custom-checkbox">
                        <input class="custom-control-input" type="radio" name="completedRadios" id="falseRadio" value="false"
                        <% if (!existed || !task.completed) { %>
                            checked
                        <% } %>
                        >
                        <label class="custom-control-label" for="falseRadio">
                            false
                        </label>
                    </div>
                    <div class="form-check custom-control custom-checkbox">
                        <input class="custom-control-input" type="radio" name="completedRadios" id="trueRadio" value="true"
                        <% if (existed && task.completed) { %>
                            checked
                        <% } %>
                        >
                        <label class="custom-control-label" for="trueRadio">
                            true
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="attachedFile" name="attachedFile">
                <label id="fileLabel" for="attachedFile" class="custom-file-label">Choose file</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
    </form>
    <div role="toolbar">
        <a class="btn btn-primary" role="button" href="/">&larr;Back</a>
        <% if (existed) { %>
            <button id="deleteButton" class="btn btn-danger">Delete</button>
        <% } %>
    </div>
</div>
<script src="/js/task.js"></script>
  