<div>
  <div class="jumbotron container">
    <h1>Tasks</h1>
  </div>
  <div class="container d-flex">
    <div
      class="btn-group mr-auto"
      role="group"
      aria-label="Add group"
      (click)="onTaskAdd()"
    >
      <button type="button" class="btn btn-primary">Add task</button>
    </div>
    <div
      class="btn-group"
      role="group"
      aria-label="Signout group"
      (click)="signout()"
    >
      <button type="button" class="btn btn-warning">Sign out</button>
    </div>
  </div>
  <app-task-edit
    [tasks]="tasks"
    [index]="selectedIndex"
    [editPanel]="editPanel"
    (editHide)="editHide($event)"
  ></app-task-edit>
  <hr />
  <div class="container">
    <select
      class="custom-select"
      (change)="onFilterChange($event.target.value)"
    >
      <option value="undefined" ng-selected="filter === undefined">All</option>
      <option value="true">Completed</option>
      <option value="false">Incompleted</option>
    </select>
  </div>
  <hr />
  <div class="container">
    <table class="table table-nonfluid">
      <thead>
        <th scope="col">Title</th>
        <th scope="col">Completed</th>
        <th scope="col">Due date</th>
        <th scope="col">File</th>
        <th scope="col"></th>
      </thead>
      <tbody>
        <tr *ngFor="let task of visibleTasks">
          <th scope="row">{{ task.title }}</th>
          <th scope="row">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="{{ task._id }}"
                (change)="onStatusChange(task._id, $event.target.checked)"
                [checked]="task.completed"
              />
              <label class="custom-control-label" for="{{ task._id }}"
                >Completed</label
              >
            </div>
          </th>
          <th scope="row">{{ task.dueDate | date: "yyyy-MM-dd" }}</th>
          <th scope="row">
            <div ngbDropdown class="btn-group" *ngIf="task.fileName">
              <button id="fileDropdown" class="btn btn-info" ngbDropdownToggle>
                {{ task.fileName }}
              </button>
              <div ngbDropdownMenu aria-labelledby="fileDropdown">
                <button
                  ngbDropdownItem
                  class="btn"
                  (click)="onDownload(task._id)"
                >
                  Download
                </button>
                <button
                  ngbDropdownItem
                  class="btn"
                  (click)="onFileRemove(task._id)"
                >
                  Remove attach
                </button>
              </div>
            </div>
          </th>
          <td>
            <span
              class="btn-toolbar"
              role="toolbar"
              aria-label="Task action buttons"
              style="display: block; white-space:nowrap;"
            >
              <div
                class="btn-group mr-2"
                role="group"
                aria-label="Edit group"
                (click)="onEdit(task._id)"
              >
                <button type="button" class="btn btn-primary">Edit</button>
              </div>
              <div
                class="btn-group mr-2"
                role="group"
                aria-label="Delete group"
                (click)="onDelete(task._id)"
              >
                <button type="button" class="btn btn-danger">Delete</button>
              </div>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
